# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student (\\$645-675) underperformed compared to schools with smaller budgets per student: <\\$585.

* As a whole, smaller and medium sized schools dramatically out-performed large schools on passing: 89-91% passing vs 67%.

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [3]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
Student ID       39170 non-null int64
student_name     39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school_name      39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
School ID        39170 non-null int64
type             39170 non-null object
size             39170 non-null int64
budget           39170 non-null int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the overall passing rate (overall average score)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# Create a list of the individual schools
schools_list = school_data_complete["school_name"].unique()
#schools_list

In [6]:
# Calculate the total number of schools
total_schools = school_data_complete["school_name"].nunique()
#total_schools

In [7]:
# Check for duplicate records
#sum(school_data_complete.duplicated())

In [8]:
# Calculate the total number of students
total_students = school_data_complete.shape[0]
#total_students

In [9]:
# Calculate the total budget for all schools combined
budgets_list = school_data_complete["budget"].unique()
total_budget = budgets_list.sum()
#total_budget

In [10]:
# Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
#avg_math

In [11]:
# Calculate the average reading score
avg_reading = school_data_complete["reading_score"].mean()
#avg_reading

In [12]:
# Calculate the overall average score, i.e., (avg. math score + avg. reading score)/2
overall_avg = (school_data_complete["math_score"].sum()+school_data_complete["reading_score"].sum()) / (total_students*2)
#overall_avg

In [13]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_df = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math = (passing_math_df.shape[0]/total_students) * 100
#passing_math

In [14]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_df = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading = (passing_reading_df.shape[0]/total_students) * 100
#passing_reading

In [15]:
# Calculate the average of the percentage of students passing math and the percentage of students passing reading
avg_passing = (passing_math + passing_reading) / 2
#avg_passing

In [16]:
# Create a dataframe to hold the above results
dist_summary = pd.DataFrame({
    "Total Schools" : [total_schools],
    "Total Students" : [total_students],
    "Total Budget" : [total_budget],
    "Average Math Score" : [avg_math],
    "Average Reading Score" : [avg_reading],
    "% Passing Math" : [passing_math],
    "% Passing Reading" : [passing_reading],
    "% Overall Passing Rate" : [avg_passing]
})

In [17]:
#dist_summary.info()

In [18]:
# Save a different copy for formatting
district = dist_summary[[
    "Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"]]
#district

In [19]:
# Apply proper formatting
district.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.0f}",
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "% Passing Math": "{:.2f}",
    "% Passing Reading": "{:.2f}",
    "% Overall Passing Rate": "{:.2f}"
})

In [20]:
dist_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
Total Schools             1 non-null int64
Total Students            1 non-null int64
Total Budget              1 non-null int64
Average Math Score        1 non-null float64
Average Reading Score     1 non-null float64
% Passing Math            1 non-null float64
% Passing Reading         1 non-null float64
% Overall Passing Rate    1 non-null float64
dtypes: float64(5), int64(3)
memory usage: 144.0 bytes

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * Average Overall Score
  * Percent Passing Math
  * Percent Passing Reading
  * Average of Percent Passing Math and Percent Passing Reading
  
* Create a dataframe to hold the above results

In [21]:
# School types
school_types = school_data.set_index(["school_name"])["type"]
#school_types

In [22]:
# Number of students per school
headcounts = school_data.set_index(["school_name"])["size"]
#headcounts

In [23]:
# Budgets for each school
budgets = school_data.set_index(["school_name"])["budget"]
#budgets

In [24]:
# Budget per student for each school
per_student_budget = budgets / headcounts
#per_student_budget.dtype

In [25]:
# Average scores per school
school_math_avg = school_data_complete.groupby("school_name")["math_score"].mean()
#school_math_avg

In [26]:
# Average scores per school
school_reading_avg = school_data_complete.groupby("school_name")["reading_score"].mean()
#school_reading_avg

In [27]:
# Percentage of students passing math at each school
passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["math_score"].count()
perc_passing_math = passing_math/headcounts * 100
#perc_passing_math

In [28]:
# Percentage of students passing reading at each school
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["reading_score"].count()
perc_passing_reading = passing_reading/headcounts * 100
#perc_passing_reading

In [29]:
# Overall passing
perc_overall_passing = (passing_math+passing_reading) / (headcounts*2) * 100
#perc_overall_passing

In [53]:
school_breakdown = pd.DataFrame({
     "School Type": school_types,
     "Total Students": headcounts,
     "Total School Budget": budgets,
     "Per Student Budget": per_student_budget,
     "Average Math Score": school_math_avg,
     "Average Reading Score": school_reading_avg,
     "% Passing Math": perc_passing_math,
     "% Passing Reading": perc_passing_reading,
     "% Overall Passing Rate": perc_overall_passing
})
#school_breakdown.head()

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [31]:
best5 = school_breakdown.sort_values("% Overall Passing Rate", ascending=False).head()
best5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [32]:
#best5.info()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [33]:
worst5 = school_breakdown.sort_values("% Overall Passing Rate", ascending=True).head()
#school_breakdown.sort_values("% Overall Passing Rate", ascending=True).head()
#school_breakdown.sort_values("% Overall Passing Rate", ascending=False).tail() #same 5 but wrong order
worst5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [34]:
#worst5.info()

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [35]:
math9 = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math10 = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math11 = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math12 = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

schools_math = pd.DataFrame({
        "9th": math9,
        "10th": math10,
        "11th": math11,
        "12th": math12,
})

#schools_math

In [36]:
# Save a different copy for formatting
sch_math = schools_math[[
    "9th",
    "10th",
    "11th",
    "12th"
]]

In [37]:
sch_math.style.format({
    "9th": '{:.2f}',
    "10th": '{:.2f}',
    "11th": '{:.2f}',
    "12th": '{:.2f}' 
})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [38]:
reading9 = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
reading10 = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
reading11 = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
reading12 = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

schools_reading = pd.DataFrame({
        "9th": reading9,
        "10th": reading10,
        "11th": reading11,
        "12th": reading12,
})

#schools_reading

In [39]:
# Save a different copy for formatting
sch_reading = schools_reading[[
    "9th",
    "10th",
    "11th",
    "12th"
]]

In [40]:
sch_reading.style.format({
    "9th": '{:.2f}',
    "10th": '{:.2f}',
    "11th": '{:.2f}',
    "12th": '{:.2f}' 
})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [41]:
#school_breakdown.info()

In [42]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 999]
group_names = ["under $585", "$585-614", "$615-644", "$645 or more"]

# Set up a DataFrame using the bins for the per student budgets
school_breakdown["Spending Ranges Per Student"] = pd.cut(school_breakdown["Per Student Budget"], spending_bins, labels=group_names)

#school_breakdown

In [43]:
# Aggregate the df so it's indexed by spending per student
spending_results = school_breakdown.groupby("Spending Ranges Per Student").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing Rate": "mean"
})

#spending_results

In [44]:
# Save a different copy for formatting
spend_results = spending_results[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]]

In [45]:
spend_results.style.format({
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "% Passing Math": '{:.2f}',
    "% Passing Reading": '{:.2f}',
    "% Overall Passing Rate": '{:.2f}'
})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [46]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
groups = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Set up a DataFrame using the bins for different school sizes
school_breakdown["School Size"] = pd.cut(school_breakdown["Total Students"], size_bins, labels=groups)

#school_breakdown

In [47]:
# Aggregate the df so it's indexed by school sizes
school_size_results = school_breakdown.groupby("School Size").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing Rate": "mean"
})

#school_size_results

In [48]:
# Save a different copy for formatting
size_results = school_size_results[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]]

In [49]:
size_results.style.format({
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "% Passing Math": '{:.2f}',
    "% Passing Reading": '{:.2f}',
    "% Overall Passing Rate": '{:.2f}'
})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [50]:
# Aggregate the df so it's indexed by school type (Charter or District)
school_type_results = school_breakdown.groupby("School Type").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing Rate": "mean"
})

#school_type_results

In [51]:
# Save a different copy for formatting
type_results = school_type_results[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing Rate"
]]

In [52]:
type_results.style.format({
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "% Passing Math": '{:.2f}',
    "% Passing Reading": '{:.2f}',
    "% Overall Passing Rate": '{:.2f}'
})